@model Nop.Plugin.Widgets.AnnouncementBar.Models.ConfigurationModel
@inject Nop.Services.Localization.ILocalizationService localizationService

@{
    Layout = "_ConfigurePlugin";

    var cardSettingsTitle = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Card.Settings");
    var saveText = await localizationService.GetResourceAsync("Admin.Common.Save");
    var manageItemsText = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Menu.ManageItems");
    var enabledText = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Settings.Fields.IsEnabled");
    var backgroundColorText = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Settings.Fields.BackgroundColor");
    var backgroundHelpText = await localizationService.GetResourceAsync("Plugins.Widgets.AnnouncementBar.Settings.Help.BackgroundColor");
}

<form asp-area="Admin" asp-controller="AnnouncementBar" asp-action="Configure" method="post">
    @Html.AntiForgeryToken()

    <nop-cards id="announcement-bar-settings-cards">
        <nop-card asp-name="announcement-bar-settings"
                  asp-icon="fas fa-cog"
                  asp-title="@cardSettingsTitle"
                  asp-hide-block-attribute-name="AnnouncementBarSettings.Hide"
                  asp-hide="false"
                  asp-advanced="false">

            <div class="card-body">

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="IsEnabled" class="col-form-label pt-0">@enabledText</label>
                    </div>
                    <div class="col-md-9">
                        <div style="padding-top: 8px;">
                            @Html.CheckBoxFor(m => m.IsEnabled)
                            <span asp-validation-for="IsEnabled"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="BackgroundColor" class="col-form-label pt-0">@backgroundColorText</label>
                    </div>
                    <div class="col-md-9">
                        <input id="BackgroundColor"
                               name="BackgroundColor"
                               class="form-control"
                               value="@Model.BackgroundColor"
                               placeholder="#111111" />
                        <span asp-validation-for="BackgroundColor"></span>
                        <small class="form-text text-muted">@backgroundHelpText</small>
                    </div>
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="far fa-save"></i>
                    @saveText
                </button>

                <a href="@Url.Action("Manage", "AnnouncementBar", new { area = "Admin" })" class="btn btn-default">
                    <i class="fas fa-list"></i>
                    @manageItemsText
                </a>
            </div>

        </nop-card>
    </nop-cards>
</form>